.sideBar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sideBar {
  width: 15%;
  position: fixed;
  height: 100%;
  border: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container {
  margin-top: 1.3rem;
}

.clear-filters-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #2d2d2d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 85%;
}

.clear-filters-btn:hover {
  background: #1a1a1a;
}
