.sideBar-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sideBar-items {
  margin-top: 20px;
}

.sideBar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sideBar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.sideBar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sideBar-label-container input:checked ~ .checkmark {
  background-color: #2196;
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.sideBar-label-container input:checked ~ .checkmark::after {
  display: block;
}

.sideBar-label-container .checkmark::after {
  top: 6.4px;
  left: 6.4px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}
